@charset 'utf-8';

@mixin m-body(){
	
	.m-body{
		position: relative;
		&.m-body--disabled{
			position: absolute;
			opacity: 0;
			pointer-events: none;
			user-select: none;
		}
		
	}
	
	.m-body--usertop{
		background-color: $m-col-bg-gray-1-n;
		padding-bottom: 100px;
	}
	
}


@mixin m-footer(){
	
	.m-footer{
		position: absolute;
		bottom: 41px;
		width: 100%;
		&.border{
			padding-top: 14px;
			border-top: 1px solid $m-col-border;
		}
	}
	
	.m-popup{
		.m-footer{
			bottom: 33px;
		}
	}
	
	.m-footer-center{
		text-align: center;
	}
	
	.m-footer-right{
		text-align: right;
	}
	
	.m-footer-book-num{
		line-height: 36px;
	}
}




